<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Inicio</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">Sobre el sitio</a></li>
    <li class="nav-sociedad-del-espectaculo" role="menuitem"><a href="{{site.baseurl}}tag/sociedad-del-Espectáculo/">Sociedad del espectáculo</a></li>
    <li class="nav-educacion" role="menuitem"><a href="{{site.baseurl}}tag/educación">Educación</a></li>
   <li class="nav-la-vida-esta-en-otro-lado" role="menuitem"><a href="{{site.baseurl}}tag/La-vida-está-en-otro-lado/">La vida está en otro lado</a></li>
   <li class="nav-para-eva-y-sol" role="menuitem"><a href="{{site.baseurl}}tag/Para Eva y Sol/">para-eva-y-sol</a></li>

</ul>
